// Placeholders 

%center-element {
	margin-left: auto;
	margin-right: auto;
}

%button {
	padding: 1.5rem 6rem;
	background-color:$action-color;
	border-radius:.5rem;
	font-weight: bold;
	transition: .5s;
	cursor: pointer;
}