/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, button,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

form div, label, section {
  margin-left: auto;
  margin-right: auto; }

.btnContainer button {
  padding: 1.5rem 6rem;
  background-color: #f5a623;
  border-radius: .5rem; }

html {
  font-size: 62.5%; }

body {
  font: 1.6rem/1.25 "PT Sans", sans-serif;
  color: #888; }

h1 {
  display: inline-block;
  color: #fff;
  font-size: 3rem;
  padding-left: .5rem;
  margin-top: .5rem; }

h2 {
  font-weight: bold;
  font-size: 2rem; }

h3, .current {
  color: #f5a623; }

a {
  font-size: 2.4rem;
  color: #fff;
  padding-bottom: 1.6rem;
  display: block;
  margin-top: 1.6rem; }
  a.active {
    color: #f5a623; }

label {
  font-size: 1.2rem;
  padding: .5rem; }

#hamburger {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 10px;
  cursor: pointer;
  transition: all 600ms ease; }
  #hamburger #el {
    cursor: pointer;
    width: 40px;
    padding: 0px;
    height: 3px;
    background: #fff;
    box-shadow: 0px 0px 0px transparent;
    border: 0px transparent;
    text-indent: -999px;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -1px;
    -webkit-appearance: none;
    line-height: 0px;
    transition: all 300ms ease;
    border-radius: 99px; }
    #hamburger #el:active, #hamburger #el:focus {
      outline: 0px;
      border: 0px; }
    #hamburger #el::after, #hamburger #el::before {
      z-index: 3;
      display: block;
      content: "";
      position: absolute;
      left: 0px;
      height: 3px;
      background: #fff;
      width: 100%;
      transition: all 300ms ease;
      border-radius: 0px; }
    #hamburger #el::after {
      top: -15px; }
    #hamburger #el::before {
      bottom: -15px;
      left: auto;
      right: 0px; }
  #hamburger.active {
    transform: rotate(360deg); }
    #hamburger.active #el {
      background: transparent; }
      #hamburger.active #el:after {
        transform: rotate(-135deg) translate(-10px, -10px) scale(1.2, 1.2); }
      #hamburger.active #el:before {
        transform: rotate(135deg) translate(-10px, 10px) scale(1.2, 1.2); }

.show {
  padding: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: url("../assets/audio.png") center center no-repeat;
  background-size: 25%;
  opacity: .05; }

header {
  background-image: url("../assets/concert-photo.jpg");
  background-position: center;
  margin-bottom: 1rem;
  padding-bottom: 2rem; }

nav {
  background: linear-gradient(#2c2c2c, transparent);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 5rem; }
  nav.active {
    background: linear-gradient(#2c2c2c, #2c2c2c);
    padding-bottom: 5rem;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 5rem; }

nav ul {
  display: none; }

nav li {
  text-align: right;
  padding-right: 1rem; }

form {
  margin-bottom: 5rem;
  max-width: 865px;
  margin: auto; }
  form div {
    position: relative;
    background-color: #d8d8d8;
    width: 80%; }
  form input, form button {
    height: 60px;
    -ms-flex-pack: center;
        justify-content: center;
    background-color: transparent;
    outline: none; }
  form input {
    width: 80%;
    padding: 0 2rem 0 1rem; }
  form button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1rem;
    background: url("../assets/search.png") right center no-repeat;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 20%; }

label {
  width: 80%;
  display: block;
  text-align: center;
  background-color: #2c2c2c;
  color: #ffffff; }

footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c2c2c;
  text-align: center; }

.btnContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .btnContainer button {
    margin: 5rem 0; }

figure {
  margin: 0;
  width: 33.33333%;
  margin-left: 33.33333%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

section {
  max-width: 1000px; }

section li {
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem; }
  section li img {
    height: 10rem; }
  section li h3, section li p {
    padding-left: 1rem; }
  section li h3 {
    padding-top: 2rem;
    font-weight: bold; }

.container {
  background-color: #2c2c2c;
  width: 100%; }

.hide {
  display: none; }

.mainSection h2 {
  background-color: #2c2c2c;
  padding: 1rem;
  color: #ffffff; }

.underlay {
  background-color: #2c2c2c;
  padding-bottom: 2rem;
  display: block; }

.headerMenu {
  background-image: none; }

.ulMenu {
  display: block; }

.wrapButton {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.searchDescription {
  background-color: #2c2c2c;
  color: white; }

.wrapBurger {
  width: 33.3%; }

@media screen and (min-width: 500px) and (max-width: 649px) {
  .mainSection li {
    max-width: 600px;
    margin: 2rem auto; }
  .mainSection img {
    height: 20rem; }
  .mainSection h3 {
    font-size: 3.3rem; }
  .mainSection p {
    font-size: 2.2rem; } }

@media screen and (min-width: 1000px) {
  nav ul {
    display: block;
    padding-right: 12rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  nav figure {
    margin-left: 0; }
  nav li {
    display: inline-block;
    padding-right: 2rem; }
  section li {
    display: inline-block;
    margin-top: .5rem;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 5rem; }
    section li h3 {
      padding-top: 1rem; }
    section li img {
      height: 100%; }
    section li:nth-child(3n) {
      margin-right: 0; }
  #hamburger {
    display: none; } }
