$boxShadow: 10px 10px 5px #111;
$text-color: #aaaaab;
$action-color: #f5a623;
$dark-grey: #2c2c2c;
$light-grey: #d8d8d8;
$white: #ffffff;
$font-stack: "PT Sans", Helvetica, Arial, sans-serif;

// Mixins
$medium: "screen and (min-width: 500px) and (max-width: 649px)";
$large: "screen and (min-width: 650px) and (max-width: 999px)";
$extra-large: "screen and (min-width: 1000px)";

