// Mixins

@mixin brs ($topleft, $topRight, $bottomLeft, $bottomRight) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topRight;
	border-bottom-left-radius: $bottomLeft;
	border-bottom-right-radius: $bottomRight;
}