html {
  font-size: 62.5%;
}

body {
  font: 1.6rem/1.25 "PT Sans", sans-serif;
  color: #888; 
}

h1 {
	display: inline-block;
	color: #fff;
	font-size: 3rem;
	padding-left: .5rem;
	margin-top: .5rem;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
}


h3, .current {
    color:$action-color;
}

a {
	font-size: 2.4rem;
	color: #fff;
	padding-bottom: 1.6rem;
	display:block;
	margin-top:1.6rem;
	&.active {
		color:$action-color;
	}
}

label {
	font-size:1.2rem;
	padding: .5rem;
}