html {
  font-size: 62.5%;
  font-family: "Helvetica Nue", Helvetica, Arial, sans-serif; }

body {
  font: 1.6rem/1.25 "Program OT", arial, sans-serif;
  color: #888; }

h1 {
	display: inline-block;
	color: #fff;
	font-size: 3rem;
	padding-left: .5rem;
	margin-top: .5rem;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
}

a {
	font-size: 2.2rem;
	color: #fff;
	padding-bottom: 4rem;
}

label {
	padding: .5rem;
}